	body, html {
		margin: 0;
		padding: 0;
	  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	  scrollbar-gutter: stable;
	}

	
	#nav a {
		font-size: 30px;
	  text-decoration: none;
	  margin: 5px;
	}
	#nav > *:hover {
	  box-shadow: 0 0 8px red;
	  transition: all 0.2s ease-in-out;
	}
:root {
    --sun-color: #fabc1c;
    --moon-color: #fffdf2;
    --day-bg-color: #0dbdf6;
    --night-bg-color: #272a30;
    --cloud-color: #fffdf2;
    --star-color: #fffdf2;
    --border-color-light: #1c2135;
    --border-color-dark: #f0f0e8;
    --country-one: #EF476F;
    --country-two: #06D6A0;
    --country-three: #FFD166;
    --country-four: #8338EC;
}

:root[data-theme="light"] {
    --bg-color: #f0f0e8;
    --text-color: #000000;
    --border-color: #1c2135;
    --ocean-color: #A6D7F0;
}

:root[data-theme="dark"] {
    --bg-color: #1c2135;
    --text-color: #ffffff;
    --border-color: #f0f0e8;
    --ocean-color: #023E58;
}

:root[data-theme="dark"] a {
    color: #66b3ff;
}
:root[data-theme="dark"] a:visited {
    color: #cc99ff;
}
:root[data-theme="dark"] a:active {
    color: #ff5555;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
	transition: background-color 0.8s ease, color 0.8s ease;
}

.theme-switcher-grid {
    display: grid;
    grid-template-columns: repeat(54, 1px);
    grid-template-rows: repeat(24, 1px);
    gap: 0;
    position: relative;
    background-color: var(--day-bg-color);
    border-radius: 49px;
    border: 1px solid var(--border-color-light);
    cursor: pointer;
    transition: background-color 0.8s ease, border-color 0.8s ease;
    appearance: none;
    padding: 0;
}

/* Change to use data-theme instead of night-theme class */
:root[data-theme="dark"] .theme-switcher-grid {
    background-color: var(--night-bg-color);
    border-color: var(--border-color-dark);
}

.sun {
    background-color: var(--sun-color);
    grid-column: 3 / 23;
    grid-row: 3 / 23;
    border-radius: 50%;
    transition: grid-column 0.8s ease, background-color 0.8s ease;
    height: 20px;
}

:root[data-theme="dark"] .sun {
    grid-column: 33 / 53;
    background-color: var(--moon-color);
}

.moon-overlay {
    position: absolute;
    border-radius: 50%;
    transition: left 0.8s ease, background-color 0.8s ease;
    z-index: 1;
    background-color: var(--day-bg-color);
}

:root[data-theme="dark"] .moon-overlay {
    display: block;
    left: calc(28 / 54 * 100%);
    top: calc(4 / 29 * 100%);
    width: 18px;
    height: 18px;
    background-color: var(--night-bg-color);
}

.cloud-ball {
    background-color: var(--cloud-color);
    border-radius: 50%;
    width: 9px;
    height: 9px;
    position: absolute;
    transition: all 0.8s ease;
    z-index: 2;
}

#ball1 {
    top: calc((8 / 24) * 100%);
    left: calc((12 / 54) * 100%);
}

#ball2 {
    top: calc((8 / 24) * 100%);
    left: calc((17 / 54) * 100%);
}

#ball3 {
    top: calc((8 / 24) * 100%);
    left: calc((22 / 54) * 100%);
}

#ball4 {
    top: calc((6 / 24) * 100%);
    left: calc((17 / 54) * 100%);
}

:root[data-theme="dark"] #ball1 {
    top: calc((16 / 24) * 100%);
    left: calc((16 / 54) * 100%);
    width: 2px;
    height: 2px;
}

:root[data-theme="dark"] #ball2 {
    top: calc((3 / 24) * 100%);
    left: calc((22 / 54) * 100%);
    width: 2px;
    height: 2px;
}

:root[data-theme="dark"] #ball3 {
    top: calc((10 / 24) * 100%);
    left: calc((29 / 54) * 100%);
    width: 2px;
    height: 2px;
}

:root[data-theme="dark"] #ball4 {
    top: calc((5 / 24) * 100%);
    left: calc((34 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.star {
    background-color: var(--star-color);
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease;
}

#star1 {
    top: calc((7 / 24) * 100%);
    left: calc((10 / 54) * 100%);
    border-radius: 50%;
}

#star2 {
    top: calc((9 / 24) * 100%);
    left: calc((16 / 54) * 100%);
    border-radius: 50%;
}

#star3 {
    top: calc((13 / 24) * 100%);
    left: calc((23 / 54) * 100%);
    border-radius: 50%;
}

#star4 {
    top: calc((18 / 24) * 100%);
    left: calc((29 / 54) * 100%);
    border-radius: 50%;
}

:root[data-theme="dark"] #star1,
:root[data-theme="dark"] #star2,
:root[data-theme="dark"] #star3,
:root[data-theme="dark"] #star4 {
    opacity: 1;
}